<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="VariabeBox.ColumnWidth" value="0" />
		<add key="VariabeBox.MultiColumn" value="False" />
	</appSettings>
</configuration>