<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maschinenbelegungsplanung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Maschinenbelegungsplanung.Properties.Settings>
            <setting name="SolverPfadLP" serializeAs="String">
                <value>C:\Methodenbank\Methoden\Kategorie A\Maschinenbelegungsplanung 5.2\01 Programm neu\lp_solve\EXEC</value>
            </setting>
            <setting name="Arbeitsverzeichnis" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="SolverPfadGLPK" serializeAs="String">
                <value>C:\Methodenbank\Methoden\Kategorie A\Maschinenbelegungsplanung 5.2\01 Programm neu\glpk-4.55\w64</value>
            </setting>
        </Maschinenbelegungsplanung.Properties.Settings>
    </userSettings>
</configuration>